<%= form_for @conn, user_path(@conn, :create), [as: :user], fn form -> %>
  <header>
    <h2><%= gettext("Sign Up") %>
  </header>

  <%= email_input form, :email, placeholder: gettext("Email"), autofocus: "true" %>
  <%= password_input form, :password, placeholder: gettext("Password") %>
  <%= submit gettext("Sign Up") %>
<% end %>
